<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Hi, I'm Natália Mitsuko</h1>
            <p>With a background in Psychology and expertise in user experience, I create intuitive and accessible digital solutions that balance business goals with human needs.</p>
            <div class="social-icons">
                <!-- Ícones sociais aqui -->
            </div>
        </div>
        <div class="hero-image">
            <!-- Imagem do perfil -->
            <img src="./images/v6_7.png" alt="Natália Mitsuko" />
        </div>
    </div>
</section> 